body {
	margin: 0px;
	padding: 0px;
	overflow-y: scroll;
}

header {
	position: fixed;
	top:0px;
	z-index: 1;
	width: 100%;
	height: 30pt;
	box-sizing: border-box;
	color: #dd4400;
	background-color: rgba(255,255,255,0.9);
	border-bottom: solid 1pt #ccc;
	box-shadow: 0 6px 6px -6px #777;
}

header h1{ 
	margin: 0;
	padding: 4pt;
	font-size: 12pt;
	font-weight: bold;
}

#content {
	width: 100%;
	margin: 30pt auto 0px auto;
	z-index: 0;
}

/* main content */
#main-pane {
	margin: 0px;
	margin-left: 300pt;
	padding-bottom: 200pt;
}

/* menu(left) */
#menu-pane {
	position:fixed;
	width: 260pt;
	height: calc(100vh - 30pt);
	box-sizing: border-box;
	margin: 0pt;
	padding: 0pt;
	overflow: hidden;
	overflow-y: scroll;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 0px 6px #777;
}

#menu-pane ul li {
	padding: 6pt 3pt;
	font-size: 11pt;
}

@supports (display: flex) and (position: sticky) {
	#content {
		display: flex;
		margin-top: 0px;
	}
	#main-pane {
		flex-grow: 1;
		margin-left: 0px;
	}
	#menu-pane {
		position: sticky;
		top: 30pt;
		resize: horizontal;
	}
	header {
		position: sticky;
	}
}

/* simple list */
ul.simple {
	border-color: #eee;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	margin: 0px;
	padding: 0px;
}
ul.simple li {
	border-color: #eee;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	list-style-type: none;
	padding: 3pt 6pt;
	margin: 0px;
}

ul.simple li img {
	width: 60pt;
	max-height: 80pt;
	object-fit: cover;
	vertical-align: middle;
	margin: 1pt 4pt;
}

ul.simple li .openLink {
	margin-left: 10pt;
	height: 20pt;
}

#main-pane ul.simple li {
	font-size: 12pt;
	color: #333;
}

#main-pane ul li a {
	color: #333;
	text-decoration: none;
}

/* grid list */
ul.grid {
    display: grid;
    grid-auto-rows: 120pt;
	grid-template-columns: repeat(auto-fill, 112pt);
	row-gap: 4pt;
	justify-content: space-around;
	margin: 0px 4pt;
	padding: 0px;
}

ul.grid li {
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	border-radius: 4pt;
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	line-height: 1.1;
	overflow: hidden;
	font-size: 9pt;
	max-height: 100%;
}

ul.grid li img {
	width: 100%;
	height: 70%;
	object-fit: cover;
}

ul.grid li .openLink {
	display: block;
	word-break: break-all;
}

ul.grid li .date {
	font-family: sans-serif;
	color: #888;
}


#file-menu .file-menu-write {
	display: none;
}

#file-menu.writable .file-menu-write {
	display: inline;
}
